.red-env-box {
  position: relative;
  overflow: hidden;
}

.red-env-img-box {
  --width: 200px;
  width: var(--width);
  animation: money var(--duration) linear infinite;
  position: absolute;
  transform: scale(var(--scale));
  user-select: none;


}

@media (max-width:768px) {
  .red-env-img-box {
    --width: 120px;
  }
}

.red-env-img-box img {
  width: 100%;
  height: 100%;
  transform: rotate(-38deg);
}

@keyframes money {
  to {
    transform: translateY(140vh) scale(var(--scale));
  }
}